doctype
html
    head
        meta(charset="utf-8")
        title #{moduleName} | #{packageName}
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        link(href="./index.css", rel="stylesheet")
    body
        h1 #{moduleName} | #{packageName}

        script(src="./index.js")